
<div class="content-container">
  <p style="color: green"><%= notice %></p>
  <div class="background-container">
    <img src="https://media.discordapp.net/attachments/725870884606181388/1211141382832529478/OIG4.DX3qDeU600Qin7M.jpeg?ex=65ed1e4f&is=65daa94f&hm=64c16d09872b197f38a449e3ec3cbabfd001fb33bfc5fe6ebae31e2637551dd5&=&format=webp&width=2000&height=1000">
  </div>

  <div class="container">

    <div class=""> 
      <h1>La Boutique de Pierick</h1>
      <img class="img_pierick" src="https://media.discordapp.net/attachments/725870884606181388/1210542361436753930/pierick.png?ex=65eaf06d&is=65d87b6d&hm=2193205241914918ab3ea7468ef32bcc50c168b86b9253dbd80f9b96ea20b7d8&=&format=webp&quality=lossless&width=1000&height=1000" alt="Image descriptive">
      <div class="texte-survol">
        <p>Bienvenu dans ma poissonerie !<br>
        Survole les cartes pour decouvrir mes poissons frais!
      <br>
      <br>
        </p>
       <%= link_to "Nouveau poisson", new_poisson_path, class: "btn btn-primary btn_create" %>

      </div>

    </div>


    <div class="row " id="poissons">
      <% @poissons.each do |poisson| %>
        <div class="col-lg-4">
          <div class="card" id="<%= dom_id poisson %>">
            <div class="deck">
              <%= render poisson %>  
            </div> 
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>